.mar {
  display: flex;
  justify-content: center;
  margin-top: 10vh; /* Use a percentage for responsiveness */
  align-items: center;
  font-size: 7rem; /* Use a relative font size */
  color: #616161;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .mar {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .mar {
    font-size: 1.5rem;
  }
}
