/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .mvn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .mvn {
    font-size: 0.2rem;
  }
}

.mvn {
  display: flex;
  justify-content: center;
  margin-top: 9vh; /* Use a percentage for responsiveness */
  align-items: center;
  font-size: 10rem;
  color: #616161;
  margin-bottom: 0;
}
